{erl_opts, [
	warnings_as_errors,
	debug_info
]}.
{deps_dir, ["deps"]}.
{deps, [
	% {e_treap, ".*", {git, "https://github.com/RGafiyatullin/e_treap.git", "HEAD"}},
	% {'iso8601', ".*", {git, "https://github.com/seansawyer/erlang_iso8601.git", {tag, "1.1.1"}}}
	{simplest_one_for_one, ".*", {git, "https://github.com/RGafiyatullin/simplest_one_for_one.git", {tag, "v0.2.1"}}},
	{gin, ".*", {git, "https://github.com/RGafiyatullin/gin.git", {tag, "rev1"}}}
]}.